:root {
	--container: calc( var(--container-padding) * 2 + 1760px );
	--container-padding: 80px;
	--page-gap: 40px;
	--header-height: calc(var(--header-grid-height) + var(--header-padding) * 2);
	--header-grid-height: 51px;
	--header-padding: 40px;
	--about-figure-icon-size: 260px;
	--video-preview-size: 241px;

	--main-color: #2F80ED;
	--main-color-hover: #2466be;
	--accent-color: #111;
	--accent-color-hover: #323232;
	--second-color: #D7D7D7;
	--second-light-color: #f3f3f3;
	--text-color: #000;
	--body-bg-color: #fff;
	--header-fixed-shadow: 8px 8px 15px 0px rgba(0,0,0,.1);
}

@include breakpoint(xxl) {
	:root {
		--header-grid-height: 43px;
		--container-padding: 40px;
		--header-padding: 30px;
		--about-figure-icon-size: 200px;
		--video-preview-size: 186px;
	}
}
@include breakpoint(xl) {
	:root {
		--container-padding: 30px;
		--about-figure-icon-size: 148px;
		--video-preview-size: 133px;
	}
}
		
@include breakpoint(lg) {
	:root {
		--container-padding: 40px;
		--header-padding: 40px;
		--about-figure-icon-size: 81px;
	}
}

@include breakpoint(md) {
	:root {
		--container-padding: 20px;
		--header-grid-height: 41px;
		--header-padding: 20px;
		--about-figure-icon-size: 87px;
		--video-preview-size: 131px;
	}
}
