$r: 'Proxima Nova regular', sans-serif;
$light: 'Proxima Nova light', sans-serif;
$bold: 'Proxima Nova bold', sans-serif;
$semibold: 'Proxima Nova Semibold', sans-serif;
$browser-context: 16px;
$trans: all .2s ease-out;