extends ../layouts/head.pug 

block variables
	- const pagetitle = "Главная";

block content
	main.page
		section.main-hero.container
			//- picture 
			//- 	source(media="(min-width: 1770px)" srcset="img/images-xxl.jpg 1200w" sizes="100vw 600vh")
			//- 	img(src="img/images-xxl.jpg", alt="")
			.main-hero__pic
				img(src="img/images-xxl.jpg", alt="")
			.main-hero__content
				h1.main-hero__title Дом бизнес-класса<br> для ценителей роскоши
				img.main-hero__logo(src="img/content-logo.svg", alt="")