extends ../layouts/head.pug 

block variables
	- const pagetitle = "Главная";

block content
	main.page
		section.section.main-hero.container
			picture.main-hero__pic
				source(media="(max-width: 1769px)" srcset="img/hero-img-xl.webp")
				source(media="(max-width: 1279px)" srcset="img/hero-img-lg.webp")
				source(media="(max-width: 1023px)" srcset="img/hero-img-lg.webp")
				source(media="(max-width: 766px)" srcset="img/hero-img-xs.webp")
				img(src="img/hero-img-xxl.webp", alt="")
			.main-hero__content
				h1.main-hero__title Дом бизнес-класса<br> для ценителей роскоши
				.main-hero__logo
					img(src="img/content-logo.svg", alt="")

		section.section.about-project.container
			figure.about-project__pic
				img(src="img/about1.webp", alt="")
				figcaption.about-project__pic__caption О проекте
			.about-project__content
				.spacer
				h2.about-project__title Уютное и безопасное пространство для счастливой, 
					span спокойной и размеренной жизни
				p.about-project__descr
					span Квартиры от 65 до 356 м2 с чистовой отделкой, 
					| балконами, лоджиями и террасами В собственной ЗАКРЫТОЙ охраняемой территории.
				.about-project__video 
					
					.preview-video
						.preview-video__button-wrap
							img(src="img/video-prev.png", alt="")
							button Play
						.preview-video__player 
							button close 
							.preview-video__video 
								//- video(src="/") 
