include mixins.pug
header.header
    .container
        .header__grid
            button.header__burger.burger-menu
                .burger-menu__icon 
                    span
                    span
                    span
                .burger-menu__text Меню
            button.header__dropdown.btn-main.btn-dropdown.hover-anim
                span Выбрать квартиру
            a.header__logo.logo(href="#")
                img(src="img/logo.svg", alt="")
            a.header__phone(href="tel:74955272121")
                +svg('phone-icon', 14)(class='phone-icon')
                span +7 495 527 2121
            button.header__callback.js-modal-open.hover-anim
                span Заказать звонок