@font-face {
  font-family: "Proxima Nova Semibold";
  src: url("../fonts/ProximaNova-Semibold.woff2") format("woff2"), url("./ProximaNova-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Proxima Nova bold";
  src: url("../fonts/ProximaNova-Bold.woff2") format("woff2"), url("./ProximaNova-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Proxima Nova regular";
  src: url("../fonts/ProximaNova-Regular.woff2") format("woff2"), url("./ProximaNova-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Proxima Nova light";
  src: url("../fonts/ProximaNova-Light.woff2") format("woff2"), url("./ProximaNova-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
:root {
  scroll-behavior: inherit;
  --fs-72-32: 4.5rem;
  --fs-72-24: var(--fs-72-32);
  --fs-48-24: 3rem;
  --fs-48-sm-18: var(--fs-48-24);
  --fs-48-xs-18: var(--fs-48-24);
  --fs-36-24: 2.25rem;
  --fs-36-sm-18: var(--fs-36-24);
  --fs-32-24: 2rem;
  --fs-32-sm-18: var(--fs-32-24);
  --fs-32-sm-16: var(--fs-32-24);
  --fs-24-18: 1.5rem;
  --fs-24-lg-16: var(--fs-24-18);
  --fs-24-sm-16: var(--fs-24-18);
  --fs-18-16: 1.125rem;
  --fs-18-14: var(--fs-18-16);
  --fs-16-14: 1rem;
  --fs-16-sm-12: var(--fs-16-14);
  --fs-16-xs-12: var(--fs-16-14);
  --fs-16-sm-10: var(--fs-16-14);
  --fs-16-xs-10: var(--fs-16-14);
  --fs-14-12: 0.875rem;
  --fs-14-sm-10: var(--fs-14-12);
  --fs-14-xs-10: var(--fs-14-12);
  --size-60-50: 60px;
  --size-60-40: 60px;
  --size-50-40: 50px;
  --size-50-30: 50px;
  --size-40-30: 40px;
  --size-30-25: 30px;
  --border-raduis-24: 24px;
  --border-raduis-18: 18px;
  --border-raduis-16: 16px;
  --border-raduis-main: 2px;
  --container: calc( var(--container-padding) * 2 + 1760px );
  --container-padding: 80px;
  --page-gap: 40px;
  --header-height: calc(var(--header-grid-height) + var(--header-padding) * 2);
  --header-grid-height: 51px;
  --header-padding: 40px;
  --main-color: #2F80ED;
  --main-color-hover: #2466be;
  --accent-color: #111;
  --accent-color-hover: #323232;
  --second-color: #D7D7D7;
  --second-light-color: #f3f3f3;
  --text-color: #000;
  --body-bg-color: #fff;
  --shadow: 8px 8px 15px 0px rgba(0,0,0,.1);
}

@media (max-width: 1769px) and (min-width: 0px) {
  :root {
    --fs-72-32: 3rem;
    --fs-48-24: 2.25rem;
    --fs-36-24: 2rem;
    --fs-32-24: 1.875rem;
    --header-grid-height: 43px;
    --container-padding: 40px;
    --header-padding: 30px;
  }
}
@media (max-width: 1279px) and (min-width: 0px) {
  :root {
    --fs-72-32: 2.625rem;
    --fs-36-24: 1.5rem;
    --fs-32-24: 1.5rem;
    --fs-24-18: 1.375rem;
    --fs-16-14: 0.875rem;
    --fs-14-12: 0.75rem;
    --container-padding: 30px;
  }
}
@media (max-width: 1023px) and (min-width: 0px) {
  :root {
    --fs-72-32: 2.25rem;
    --fs-48-24: 2rem;
    --fs-24-18: 1.125rem;
    --fs-24-lg-16: 1rem;
    --fs-18-16: 1rem;
    --fs-18-14: 0.875rem;
    --size-60-50: 50px;
    --size-60-40: 40px;
    --size-50-40: 40px;
    --size-50-30: 30px;
    --size-40-30: 30px;
    --size-30-25: 25px;
    --container-padding: 40px;
    --header-padding: 40px;
  }
}
@media (max-width: 766px) and (min-width: 0px) {
  :root {
    --fs-72-32: 2rem;
    --fs-72-24: 1.5rem;
    --fs-48-24: 1.5rem;
    --fs-48-sm-18: 1.125rem;
    --fs-36-sm-18: 1.125rem;
    --fs-32-sm-18: 1.125rem;
    --fs-32-sm-16: 1rem;
    --fs-24-sm-16: 1rem;
    --fs-16-sm-12: 0.75rem;
    --fs-16-sm-10: 0.625rem;
    --fs-14-sm-10: 0.625rem;
    --container-padding: 20px;
    --header-grid-height: 41px;
    --header-padding: 20px;
  }
}
@media (max-width: 360px) and (min-width: 0px) {
  :root {
    --fs-48-xs-18: 1.125rem;
    --fs-16-xs-12: 0.75rem;
    --fs-16-xs-10: 0.625rem;
    --fs-14-xs-10: 0.625rem;
  }
}
@keyframes modalAnimation {
  0% {
    opacity: 0;
    display: none;
  }
  100% {
    opacity: 1;
    display: block;
  }
}
@keyframes modalAnimationClose {
  0% {
    opacity: 1;
    display: block;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@keyframes up {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2px);
  }
}
@keyframes down {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(2px);
  }
}
@keyframes right {
  from {
    transform: translatex(0px);
  }
  to {
    transform: translatex(5px);
  }
}
@keyframes left {
  from {
    transform: translatex(0px);
  }
  to {
    transform: translatex(-5px);
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
div,
ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
dfn,
del,
p,
blockquote,
fieldset,
input,
textarea,
select,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
button,
canvas,
video {
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
  color: inherit;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  outline: 0;
}

button,
button:hover,
button:focus,
.btn:focus,
.btn:active:focus {
  outline: 0;
}

button {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  color: inherit;
  cursor: pointer;
}

img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: auto;
}

textarea {
  max-width: 100%;
  width: 100%;
  min-width: 100%;
  min-height: 40px;
}

ul,
ol,
dl {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
p,
dt,
dd {
  padding: 0;
  margin: 0;
}

b,
dt,
h1,
h2,
h3,
h4,
h5,
strong {
  font-family: "Proxima Nova bold", sans-serif;
  font-weight: normal;
}

s {
  text-decoration-color: var(--main-color);
}

html {
  height: 100%;
  font-size: 16px;
}

body {
  height: 100%;
  min-width: 320px;
  font-family: "Proxima Nova regular", sans-serif;
  color: var(--text-color);
  background: var(--body-bg-color);
}

header {
  flex: 0 0 auto;
}

main {
  flex: 1 0 auto;
}

footer {
  flex: 0 0 auto;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.container {
  max-width: var(--container);
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  margin: 0 auto;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-out;
}
.backdrop.active {
  opacity: 1;
  visibility: visible;
}

.open-menu {
  overflow: hidden !important;
  padding-right: 17px;
}

.callback-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 80px 0;
  background-color: #fff;
  z-index: 50;
  transition: all 0.2s ease-out;
}
.callback-modal:not(.is-open) {
  display: none;
  animation: modalAnimationClose 0.3s ease-in-out 0s 1 normal forwards;
}
.callback-modal.is-open {
  animation: modalAnimation 0.3s ease-in-out 0s 1 normal forwards;
}
.callback-modal__close {
  position: fixed;
  top: 60px;
  right: 60px;
}
@media (max-width: 1279px) and (min-width: 0px) {
  .callback-modal__close {
    top: 50px;
    right: 50px;
  }
}
@media (max-width: 1023px) and (min-width: 0px) {
  .callback-modal__close {
    top: 40px;
    right: 40px;
  }
}
@media (max-width: 766px) and (min-width: 0px) {
  .callback-modal__close {
    top: 20px;
    right: 20px;
  }
}
.callback-modal__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 80px;
  width: 100%;
  height: 100%;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  max-width: calc(var(--container-padding) * 2 + 587px);
  margin: 0 auto;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  overflow-y: auto;
}
@media (max-width: 1769px) and (min-width: 0px) {
  .callback-modal__content {
    gap: 50px;
  }
}
@media (max-width: 766px) and (min-width: 0px) {
  .callback-modal__content {
    gap: 30px;
    align-items: start;
  }
}
.callback-modal__title {
  font-size: 52px;
  font-family: "Proxima Nova regular", sans-serif;
  line-height: 120%;
  text-transform: uppercase;
}
@media (max-width: 1769px) and (min-width: 0px) {
  .callback-modal__title {
    font-size: 40px;
  }
}
@media (max-width: 1279px) and (min-width: 0px) {
  .callback-modal__title {
    font-size: 28px;
  }
}
@media (max-width: 766px) and (min-width: 0px) {
  .callback-modal__title {
    padding-left: 15px;
    font-size: 20px;
  }
}
.callback-modal__form {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
@media (max-width: 1769px) and (min-width: 0px) {
  .callback-modal__form {
    gap: 40px;
  }
}
@media (max-width: 1279px) and (min-width: 0px) {
  .callback-modal__form {
    gap: 45px;
  }
}
@media (max-width: 766px) and (min-width: 0px) {
  .callback-modal__form {
    gap: 40px;
  }
}

.btn-main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  max-height: 62px;
  padding: 12px 26px;
  font-size: 15px;
  color: #fff;
  font-family: "Proxima Nova Semibold", sans-serif;
  line-height: 100%;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  white-space: nowrap;
  border-radius: 100px;
  background-color: var(--main-color);
  transition: all 0.2s ease-out;
}
@media (hover: hover) {
  .btn-main:hover {
    background-color: var(--main-color-hover);
  }
}
@media (max-width: 1769px) and (min-width: 0px) {
  .btn-main {
    font-size: 13px;
    padding: 12px 20px;
  }
}
@media (max-width: 1279px) and (min-width: 0px) {
  .btn-main {
    font-size: 12px;
  }
}
@media (max-width: 766px) and (min-width: 0px) {
  .btn-main {
    padding: 12px 18px;
  }
}
.btn-dropdown {
  gap: 12px;
}
@media (max-width: 1769px) and (min-width: 0px) {
  .btn-dropdown {
    gap: 10px;
  }
}
.btn-dropdown::after {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  background: url(../img/chevron-down.svg) no-repeat;
  background-position: center;
  background-size: contain;
}

.burger-menu {
  display: flex;
  align-items: center;
  gap: 12px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.burger-menu__icon {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
@media (max-width: 1769px) and (min-width: 0px) {
  .burger-menu__icon {
    gap: 4px;
  }
}
.burger-menu__icon > span {
  display: block;
  width: 38px;
  height: 2px;
  background-color: var(--main-color);
  transform: translateY(0);
  transition: all 0.2s ease-out;
}
@media (max-width: 1769px) and (min-width: 0px) {
  .burger-menu__icon > span {
    width: 32px;
  }
}
@media (max-width: 766px) and (min-width: 0px) {
  .burger-menu__icon > span {
    width: 29px;
    background-color: #000;
  }
}
.burger-menu__text {
  font-size: 15px;
  font-family: "Proxima Nova Semibold", sans-serif;
  line-height: 100%;
  letter-spacing: 0.7px;
  text-transform: uppercase;
}
@media (max-width: 1769px) and (min-width: 0px) {
  .burger-menu__text {
    font-size: 13px;
  }
}
@media (max-width: 1279px) and (min-width: 0px) {
  .burger-menu__text {
    font-size: 12px;
  }
}
@media (max-width: 766px) and (min-width: 0px) {
  .burger-menu__text {
    display: none;
  }
}
@media (hover: hover) {
  .burger-menu:hover .burger-menu__icon > span:first-child {
    transform: translateY(-2px);
  }
  .burger-menu:hover .burger-menu__icon > span:last-child {
    transform: translateY(2px);
  }
}

.logo {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.form {
  width: 100%;
}
.form__field {
  position: relative;
}
.form__field > label {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 5px 16px 5px 0;
  font-size: 17px;
  line-height: 160%;
  text-transform: uppercase;
  pointer-events: none;
  transform-origin: 0 0;
  transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
}
.form__input {
  display: block;
  width: 100%;
  height: 50px;
  padding: 5px 16px 5px 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  color: #000;
  background-color: #fff;
  background-clip: padding-box;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  transition: all 0.2s ease-out;
}
.form__input::placeholder {
  opacity: 0;
}
@media (hover: hover) {
  .form__input:hover {
    border-bottom: 1px solid rgba(0, 0, 0, 0.8);
  }
}
.form__field > .form__input:focus ~ label, .form__field > .form__input:not(:placeholder-shown) ~ label {
  font-size: 14px;
  opacity: 0.65;
  transform: scale(0.85) translateY(-16px) translateX(0px);
}
.form__field > .form__input:focus, .form__field > .form__input:not(:placeholder-shown) {
  padding-top: 1.625rem;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}
.form__submit {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.form__submit-police {
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  color: #808080;
}
@media (max-width: 1769px) and (min-width: 0px) {
  .form__submit-police {
    font-size: 12px;
  }
}
@media (max-width: 1279px) and (min-width: 0px) {
  .form__submit-police {
    font-size: 11px;
  }
}
@media (max-width: 766px) and (min-width: 0px) {
  .form__submit-police {
    font-size: 12px;
  }
}
.form__submit-police > a {
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 0.5px;
  transition: all 0.2s ease-out;
}
@media (hover: hover) {
  .form__submit-police > a:hover {
    text-underline-offset: 5px;
  }
}
.form__submit-button {
  padding: 24px 69px;
}
@media (max-width: 1769px) and (min-width: 0px) {
  .form__submit-button {
    padding: 24px 69px;
  }
}
@media (max-width: 1279px) and (min-width: 0px) {
  .form__submit-button {
    padding: 20px 40px;
  }
}
@media (max-width: 1023px) and (min-width: 0px) {
  .form__submit-button {
    padding: 20px 40px;
  }
}
@media (max-width: 766px) and (min-width: 0px) {
  .form__submit-button {
    padding: 18px 50px;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: var(--header-height);
  padding-top: var(--header-padding);
  padding-bottom: var(--header-padding);
  background: #fff;
  z-index: 10;
}
.header.open-menu {
  right: 16px !important;
}
.header__grid {
  display: grid;
  grid-template-columns: repeat(2, auto) 1fr repeat(2, auto);
  grid-template-areas: "B D L P C";
  gap: 45px;
  align-items: center;
  width: 100%;
  height: var(--header-grid-height);
}
@media (max-width: 1023px) and (min-width: 0px) {
  .header__grid {
    grid-template-columns: repeat(2, auto) 1fr auto;
    grid-template-areas: "B P L D";
    gap: 62px;
  }
}
@media (max-width: 766px) and (min-width: 0px) {
  .header__grid {
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "B L P";
    gap: 20px;
  }
}
.header__burger {
  grid-area: B;
}
.header__dropdown {
  grid-area: D;
}
@media (max-width: 766px) and (min-width: 0px) {
  .header__dropdown {
    display: none;
  }
}
.header__logo {
  grid-area: L;
  justify-self: center;
  width: 187px;
  height: 30px;
}
@media (max-width: 1769px) and (min-width: 0px) {
  .header__logo {
    width: 156px;
    height: 25px;
  }
}
@media (max-width: 766px) and (min-width: 0px) {
  .header__logo {
    width: 131px;
    height: 21px;
  }
}
.header__phone {
  grid-area: P;
  display: flex;
  align-items: center;
  justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 17px;
  font-family: "Proxima Nova Semibold", sans-serif;
  line-height: 100%;
}
.header__phone > .phone-icon {
  display: none;
}
@media (max-width: 1769px) and (min-width: 0px) {
  .header__phone {
    font-size: 14px;
  }
}
@media (max-width: 1279px) and (min-width: 0px) {
  .header__phone {
    font-size: 13px;
  }
}
@media (max-width: 1023px) and (min-width: 0px) {
  .header__phone {
    height: 100%;
    border-radius: 100%;
    border: 1px solid;
    border-color: var(--second-color);
    aspect-ratio: 1;
  }
  .header__phone > .phone-icon {
    display: block;
  }
}
@media (max-width: 766px) and (min-width: 0px) {
  .header__phone {
    border-color: var(--main-color);
  }
}
@media (max-width: 1023px) and (min-width: 0px) {
  .header__phone > span {
    display: none;
  }
}
.header__callback {
  grid-area: C;
  font-size: 15px;
  color: var(--main-color);
  font-family: "Proxima Nova Semibold", sans-serif;
  line-height: 100%;
  letter-spacing: 0.7px;
  text-transform: uppercase;
}
@media (max-width: 1769px) and (min-width: 0px) {
  .header__callback {
    font-size: 13px;
  }
}
@media (max-width: 1279px) and (min-width: 0px) {
  .header__callback {
    font-size: 12px;
  }
}
@media (max-width: 1023px) and (min-width: 0px) {
  .header__callback {
    display: none;
  }
}

.footer {
  margin-top: var(--page-gap);
  padding: 40px 0;
  background: #333;
}

.page {
  padding-top: var(--header-height);
}
.page__title {
  font-size: var(--fs-48-24);
  font-family: "Proxima Nova bold", sans-serif;
}
.page__subtitle {
  font-size: var(--fs-24-18);
  font-family: "Proxima Nova bold", sans-serif;
}
.page__heading {
  font-size: var(--fs-18-16);
  font-family: "Proxima Nova bold", sans-serif;
}

.main-hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
  height: calc(100vh - var(--header-height));
  padding-bottom: 60px;
}
.main-hero__pic {
  flex: 0 1 auto;
}
.main-hero__content {
  display: flex;
  align-items: end;
}
.main-hero__title {
  flex: 1 1 auto;
  font-size: 31px;
  color: var(--main-color);
  font-family: "Proxima Nova regular", sans-serif;
  line-height: 140%;
  text-transform: uppercase;
}
.main-hero__logo {
  flex: 0 1 862px;
}

@media (max-width: 1024px) and (min-width: 0px) {
  .open-menu {
    padding-right: 0px;
  }
}